#form-criar-despesa {
    width: 100%;
    padding: 12px;  
    background-color: #0c2b68;
    color: white;
}

h2 {
    margin: 12px; 
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    background-color: #0c2b68;
    color: white;
}

label {
    margin: 0;
    font-size: .90rem;
    padding: .375rem 0px;
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    background-color: #0c2b68;
    color: white;
}

.input-formulario {
    margin-bottom: 12px;
}

#icone-pagamento {
    color: white;
}

#descricao-pagamento {
    background-color: white;
}
