.main-container {
    width: 100%;
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.display-propriedade {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: space-around;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.display-informacoes {
    width: calc(100% - 260px);
    height: 100%;
    padding: 14px 20px;
    background-color: #0c2b68;
    border-radius: 8px 0px 0px 8px;
}

.display-informacoes * {
    color: white;
}

.display-imagem {
    width: 260px;
    height: 100%;
    border-radius: 0px 8px 8px 0px;
}

.display-propriedade-informacoes {
    border: solid 2px blue;
    width: 100%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 24px;
}

.display-financeiro, .display-pessoas {
    border-radius: 8px;
    padding: 14px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
}

.display-financeiro {
    flex: 3;
    height: 100%;
    border: solid 2px green
}

.display-pessoas {
    flex: 1;
    height: 100%;
    border: solid 2px yellow;
}

.card-pessoa {
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    background-color: #e3e9f7;
    padding: 14px;
    border-radius: 16px;
}

.pessoa-imagem {
    height: 80px;
    width: 80px;
    border-radius: 20px;
}

.pessoa-informacoes {
    background-color: #e3e9f7;
    flex: 2;
}

.pessoa-informacoes span {
    font-size: 16px;
}

.pessoa-visualizar {
    border-radius: 16px;
    padding: 14px;
    cursor: pointer;
    background-color: #0c2b68;
}

.pessoa-visualizar span {
    color: white;
}
