{% load static %}

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block 'head' %}
    {% endblock %}
    <title>{% block 'title' %}{% endblock %}</title>
</head>

<header>
    {% block 'header' %}
    {% endblock %}
</header>

<body>      
    <nav id="sidebar">
      <div id="sidebar_content">
          <div id="user">
              <img id="user_avatar" src="https://avatars.githubusercontent.com/u/101295609?v=4" alt="Avatar">
  
              <p id="user_infos">
                  <span class="item-description">
                      Mikael Linhares
                  </span>
                  <span class="item-description">
                      Desenvolvedor
                  </span>
              </p>
          </div>
  
          <ul id="side_items">
            <li class="side-item" id="side-item-pessoas">
                <a href="{% url 'pessoas' %}">
                    <span class="material-icons bi pe-none me-2">groups</span>
                    <span class="item-description">
                        Pessoas
                    </span>
                </a>
            </li>

              <li class="side-item" id="side-item-propriedades">
                  <a href="{% url 'propriedades' %}">
                      <span class="material-icons bi pe-none me-2">home</span>
                      <span class="item-description">
                          Propriedades
                      </span>
                  </a>
              </li>
  
              <li class="side-item" id="side-item-metas">
                  <a href="#">
                      <span class="material-icons bi pe-none me-2">check_box</span>
                      <span class="item-description">
                          Metas
                      </span>
                  </a>
              </li>
  
              <li class="side-item" id="side-item-categorias">
                  <a href="#">
                      <span class="material-icons bi pe-none me-2">label</span>
                      <span class="item-description">
                          Categorias
                      </span>
                  </a>
              </li>
  
              <li class="side-item" id="side-item-despesas">
                  <a href="#">
                      <span class="material-icons bi pe-none me-2">credit_card_off</span>
                      <span class="item-description">
                          Despesas
                      </span>
                  </a>
              </li>
  
              <li class="side-item" id="side-item-pagamentos">
                  <a href="#">
                      <span class="material-icons bi pe-none me-2">credit_score</span>
                      <span class="item-description">
                          Pagamentos
                      </span>
                  </a>
              </li>
                
              <li class="side-item" id="side-item-rendas">
                <a href="#">
                    <span class="material-icons bi pe-none me-2">attach_money</span>
                    <span class="item-description">
                        Rendas
                    </span>
                </a>
            </li>
          </ul>
  
          <button id="open_btn">
              <span id="open_btn_icon" class="material-icons">arrow_forward</span>
          </button>
      </div>

      <div id="logout">
          <button id="logout_btn">
              <span class="material-icons">logout</span>
              <span class="item-description">
                  Logout
              </span>
          </button>
      </div>
  </nav>

  <main>
    {% block 'body' %}
    {% endblock %}
  </main>

  <script type="text/javascript" src={% static 'js/base.js' %}></script>
  {% block 'script' %}
  {% endblock %}
</body>

<footer>
    {% block 'footer' %}
    {% endblock %}
</footer>

</html>
