{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<!-- <link rel="stylesheet" href="{% static 'css/criar_despesa.css' %}"> -->
<style>
    #form-criar-despesa {
        width: 100%;
        height: 100%;
        padding: 12px;
    }
</style>
{% endblock %}

{% block 'script' %}
<!-- <script type="text/javascript" src={% static 'js/criar_despesa.js' %}></script> -->
<script>selecionarItemSidebar('side-item-despesas')</script>
{% endblock %}

{% block 'title' %}
Criar Despesa
{% endblock%}

{% block 'body' %}
<form id="form-criar-despesa">
    <h1>Nova Despesa</h1>

    <input id="input-nome" name="nome" class="form-control" type="text" placeholder="Nome da despesa">
    
    <select id="select-categoria" name="categoria" class="custom-select">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <div class="input-group flex-nowrap">
        <div class="input-group-prepend"><span class="input-group-text">R$</span></div>
        <input id="input-valor" name="valor" type="number" class="form-control" placeholder="Valor R$">
    </div>

    <input id="input-vencimento" name="vencimento" class="form-control" type="date" placeholder="Vencimento">
    
    <label for="input-pagamento">Executar pagamento</label>
    <div id="input-pagamento" class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input">
          </div>
        </div>
        <select id="select-usuario" name="usuario" class="custom-select">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
      </div>
</form>
{% endblock %}
