{% extends 'base.html' %}
{% load static %}


{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/despesas.css' %}">
{% endblock %}

{% block 'script' %}
<script type="text/javascript" src={% static 'js/despesas.js' %}></script>
<script>selecionarItemSidebar('side-item-despesas')</script>
{% endblock %}

{% block 'title' %}
Despesas
{% endblock%}

{% block 'body' %}
<div class="main-container">
    <div class="despesas-totais">
        <div class="card-total card-divida bg-danger">
            <h2>Gasto</h2>
            <h1>R$ {{ gasto }}</h1>
        </div>
        <div class="card-total card-pago bg-success">
            <h2>Pago</h2>
            <h1>R$ {{ pago }}</h1>
        </div>
        <div class="card-total card-pendente bg-warning">
            <h2>Pendente</h2>
            <h1>R$ {{ pendente }}</h1>
        </div>
        <div class="card-total card-parcelado bg-info">
            <h2>Parcelado</h2>
            <h1>R$ 0</h1>
        </div>
    </div>
    <div class="despesas-filtros">
        <input id="filtro-nome" name="nome" class="filtro-input form-control" placeholder="Nome da despesa">
        <select id="filtro-categoria" name="categoria" class="filtro-select custom-select" onchange="selecionaCategoria(this.id)">
            <option value="" style="background-color: white; color: black;" selected>Todas Categorias</option>
            {% for categoria in categorias %}
            <option 
                value="{{ categoria.id }}" 
                style="background-color: {{ categoria.cor }};">
                {{ categoria.nome }}
            </option>
            {% endfor %}
        </select>
        <select id="filtro-situacao" name="situacao" class="filtro-select custom-select" onchange="selecionaSituacao(this.value)">
            <option value="" class="opcao-situacao" style="background-color: white; color: black;" selected>Todas Situações</option>
            <option value="pago" class="opcao-situacao alert-success">Pago</option>
            <option value="vence-hoje" class="opcao-situacao alert-info">Vence hoje</option>
            <option value="vencido" class="opcao-situacao alert-danger">Vencido</option>
            <option value="pendente" class="opcao-situacao alert-warning">Pendente</option>
        </select>
    </div>
    <div class="despesas-lista">
        {% for despesa in despesas %}
        <div class="card-despesa">
            <p class="despesa-texto">{{ despesa.nome }}</p>
            <span class="display-categoria text-center" style="background-color: {{ despesa.categoria.cor }}">
                {{ despesa.categoria }}
            </span>
            <span class="despesa-texto text-center">R$ {{ despesa.valor }}</span>
            <span class="despesa-texto text-center">{{ despesa.data_criacao }}</span>
            <div class="text-center">
                {% if despesa.pagamento_set.all %}
                <span class="display-situacao alert-success">Pago</span>
                {% elif hoje == despesa.data_vencimento %}
                <span class="display-situacao alert-info">Vence hoje</span>
                {% elif hoje > despesa.data_vencimento %}
                <span class="display-situacao alert-danger">Vencido</span>
                {% else %}
                <span class="display-situacao alert-warning">Pendente</span>
                {% endif %}
            </div>
            <div class="text-center">
                <button class="botao-pagamentos btn btn-success" onclick="mostrarPagamentos({{ despesa.id }})">
                    <span class="icone-botao-pagamentos material-icons">credit_score</span>
                </button>
            </div> 
        </div>
        {% endfor %}
    </div>

    <a href="{% url 'criar_despesa' %}">
        <span id="adicionar-despesa" class="material-icons bi pe-none me-2">credit_card_off</span>
    </a>
</div>
{% endblock %}

{% block 'modal' %}
<div id="modal-pagamentos"></div>
{% endblock %}
