{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/pessoas.css' %}">
{% endblock %}

{% block 'script' %}
<script type="text/javascript" src={% static 'js/pessoas.js' %}></script>
<script>selecionarItemSidebar('side-item-pessoas')</script>
{% endblock %}

{% block 'title' %}
Pessoas
{% endblock%}

{% block 'body' %}
<div class="main-container">
  <h1>Pessoas</h1>
  <div class="container-pessoas">
    {% for pessoa in pessoas %}
      <div class="card-pessoa">
        <h2>{{ pessoa.nome }}</h2>
        <p class="display-saldo alert-{% if pessoa.saldo < 0 %}danger{% else %}success{% endif %}">
          R$ {{ pessoa.saldo_formatado }}
        </p>
        <div class="acoes-pessoa">
          <button class="btn btn-success">Renda</button>
          <button class="btn btn-dark">Histórico</button>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
