{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/propriedade.css' %}">
{% endblock %}

{% block 'script' %}
<script type="text/javascript" src={% static 'js/propriedade.js' %}></script>
<script>selecionarItemSidebar('side-item-propriedades')</script>
{% endblock %}

{% block 'title' %}
Propriedade
{% endblock%}

{% block 'body' %}
<div class="main-container">
    <div class="display-propriedade">
        <div class="display-informacoes">
            <h1>{{ propriedade.nome }}</h1>
            <p>{{ propriedade.descricao }}</p>
        </div>
        <img class="display-imagem" 
        src="{% if propriedade.imagem %}{{ propriedade.imagem.url }}
                {% else %}{% static 'img/propriedades-default.jpg' %}{% endif %}">
    </div>

    <div class="display-propriedade-informacoes">
        <div class="display-financeiro"></div>
        <div class="display-pessoas">
            {% for pessoa in propriedade.pessoas.all %}
            <div class="card-pessoa">
                <img class="pessoa-imagem" 
                     src="{% if pessoa.imagem %}{{ pessoa.imagem.url }}
                          {% else %}{% static 'img/pessoas-default.png' %}{% endif %}">
                <div class="pessoa-informacoes">
                    <h4>{{ pessoa.nome }}</h4>
                    <span class="badge alert-success">R$ {{ pessoa.saldo }}</span>
                </div>
                <button class="pessoa-visualizar btn">
                    <span class="material-icons">visibility</span>
                </button>
            </div>
            {% endfor %}

            <!---->
            {% for pessoa in propriedade.pessoas.all %}
            <div class="card-pessoa">
                <img class="pessoa-imagem" 
                     src="{% if pessoa.imagem %}{{ pessoa.imagem.url }}
                          {% else %}{% static 'img/pessoas-default.png' %}{% endif %}">
                <div class="pessoa-informacoes">
                    <h4>{{ pessoa.nome }}</h4>
                    <span class="badge alert-success">R$ {{ pessoa.saldo }}</span>
                </div>
                <button class="pessoa-visualizar btn">
                    <span class="material-icons">visibility</span>
                </button>
            </div>
            {% endfor %}
            {% for pessoa in propriedade.pessoas.all %}
            <div class="card-pessoa">
                <img class="pessoa-imagem" 
                     src="{% if pessoa.imagem %}{{ pessoa.imagem.url }}
                          {% else %}{% static 'img/pessoas-default.png' %}{% endif %}">
                <div class="pessoa-informacoes">
                    <h4>{{ pessoa.nome }}</h4>
                    <span class="badge alert-success">R$ {{ pessoa.saldo }}</span>
                </div>
                <button class="pessoa-visualizar btn">
                    <span class="material-icons">visibility</span>
                </button>
            </div>
            {% endfor %}
            {% for pessoa in propriedade.pessoas.all %}
            <div class="card-pessoa">
                <img class="pessoa-imagem" 
                     src="{% if pessoa.imagem %}{{ pessoa.imagem.url }}
                          {% else %}{% static 'img/pessoas-default.png' %}{% endif %}">
                <div class="pessoa-informacoes">
                    <h4>{{ pessoa.nome }}</h4>
                    <span class="badge alert-success">R$ {{ pessoa.saldo }}</span>
                </div>
                <button class="pessoa-visualizar btn">
                    <span class="material-icons">visibility</span>
                </button>
            </div>
            {% endfor %}
            {% for pessoa in propriedade.pessoas.all %}
            <div class="card-pessoa">
                <img class="pessoa-imagem" 
                     src="{% if pessoa.imagem %}{{ pessoa.imagem.url }}
                          {% else %}{% static 'img/pessoas-default.png' %}{% endif %}">
                <div class="pessoa-informacoes">
                    <h4>{{ pessoa.nome }}</h4>
                    <span class="badge alert-success">R$ {{ pessoa.saldo }}</span>
                </div>
                <button class="pessoa-visualizar btn">
                    <span class="material-icons">visibility</span>
                </button>
            </div>
            {% endfor %}
            <!---->

        </div>
    </div>
</div>
{% endblock %}
